// https://foundation.zurb.com/sites/docs/sass.html#
@import '../node_modules/foundation-sites/scss/util/util';
@import '../node_modules/foundation-sites/scss/global';

@include add-foundation-colors;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');
$header-font-family: 'Red Hat Text', sans-serif !default;
$main-font-family: 'Red Hat Text', sans-serif !default;
$font-family-monospace: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace !default;

// Colors
// Options: Plum963484, Purple5B1865, OrangeD65108, Indigo274060, PinkFF007F
$foundation-palette: (
  primary: #2B79E5,
  secondary: #274060,
  accent: #F4442E,
  success: #00C100,
  warning: #FFE644,
  alert: #E01A4F,
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

// Components
$offcanvas-shadow: 0 0 10px rgba($black, 0);
$offcanvas-inner-shadow-color: rgba($black, 0);
$offcanvas-background: $white;

$titlebar-background: get-color(secondary);
